ServiCerca Resumen Semanal.json
{
  "name": "ServiCerca — Resumen Semanal a Proveedores",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Schedule Lunes 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1120, 300],
      "notes": "Se dispara todos los lunes a las 08:00. Ajusta la zona horaria del workflow en Settings si tu instancia no está en hora de Ecuador (GMT-5)."
    },
    {
      "parameters": {
        "jsCode": "// Calcula el rango de la semana anterior (lunes 00:00 a domingo 23:59)\n// y arma el cuerpo de la consulta structuredQuery para Firestore REST API.\n\nconst now = new Date();\n// Retrocede 7 días para cubrir la semana que acaba de terminar\nconst end = new Date(now);\nend.setDate(end.getDate() - ( (now.getDay() + 6) % 7 )); // lunes de esta semana\nend.setHours(0, 0, 0, 0);\nconst start = new Date(end);\nstart.setDate(start.getDate() - 7); // lunes anterior\n\nconst startISO = start.toISOString();\nconst endISO = end.toISOString();\n\n// Consulta: trae los trabajos/servicios de la semana anterior.\n// Ajusta 'collectionId' y los nombres de campo a tu esquema real de Firestore.\nconst query = {\n  structuredQuery: {\n    from: [{ collectionId: 'solicitudes' }],\n    where: {\n      compositeFilter: {\n        op: 'AND',\n        filters: [\n          {\n            fieldFilter: {\n              field: { fieldPath: 'fechaCreacion' },\n              op: 'GREATER_THAN_OR_EQUAL',\n              value: { timestampValue: startISO }\n            }\n          },\n          {\n            fieldFilter: {\n              field: { fieldPath: 'fechaCreacion' },\n              op: 'LESS_THAN',\n              value: { timestampValue: endISO }\n            }\n          }\n        ]\n      }\n    }\n  }\n};\n\nreturn [{\n  json: {\n    query,\n    semana: {\n      inicio: startISO,\n      fin: endISO,\n      etiqueta: `${start.toLocaleDateString('es-EC')} — ${new Date(end.getTime()-1).toLocaleDateString('es-EC')}`\n    }\n  }\n}];"
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Preparar Consulta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-900, 300],
      "notes": "Calcula el rango de la semana anterior y construye el structuredQuery de Firestore. Cambia 'solicitudes' y 'fechaCreacion' por los nombres reales de tu colección/campos."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firestore.googleapis.com/v1/projects/servicerca/databases/(default)/documents:runQuery",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.query) }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Firestore: Trabajos Semana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-680, 300],
      "notes": "Consulta Firestore vía REST API. Credencial Header Auth: Authorization = 'Bearer <token>'. Usa un token OAuth de service account o el ID token de Firebase Auth. Reemplaza 'servicerca' por tu projectId."
    },
    {
      "parameters": {
        "jsCode": "// Agrupa los documentos de Firestore por proveedor y calcula las métricas\n// de la semana: solicitudes recibidas, cotizaciones enviadas, trabajos\n// ganados, calificación promedio y ganancias.\n//\n// La respuesta de runQuery llega como un item por documento, cada uno con\n// { document: { fields: {...} } } en formato Firestore. Aquí lo aplanamos.\n\nconst semana = $('Preparar Consulta').first().json.semana;\n\n// Helper: convierte un valor de campo Firestore a valor JS plano\nfunction fv(field) {\n  if (field == null) return null;\n  if ('stringValue' in field) return field.stringValue;\n  if ('integerValue' in field) return Number(field.integerValue);\n  if ('doubleValue' in field) return Number(field.doubleValue);\n  if ('booleanValue' in field) return field.booleanValue;\n  if ('timestampValue' in field) return field.timestampValue;\n  return null;\n}\n\n// Acumulador por proveedor\nconst acc = {};\n\nfor (const item of $input.all()) {\n  const doc = item.json.document;\n  if (!doc || !doc.fields) continue; // filas 'readTime' sin documento\n  const f = doc.fields;\n\n  const provId    = fv(f.proveedorId);\n  if (!provId) continue;\n\n  const provNombre = fv(f.proveedorNombre) || 'Proveedor';\n  const provEmail  = fv(f.proveedorEmail);\n  const estado     = fv(f.estado);            // ej: 'cotizada', 'ganada', 'completada'\n  const cotizo     = fv(f.cotizacionEnviada); // boolean\n  const ganancia   = fv(f.montoProveedor) || 0;\n  const rating     = fv(f.calificacion);      // 1..5 o null\n\n  if (!acc[provId]) {\n    acc[provId] = {\n      proveedorId: provId,\n      nombre: provNombre,\n      email: provEmail,\n      solicitudesRecibidas: 0,\n      cotizacionesEnviadas: 0,\n      trabajosGanados: 0,\n      ganancias: 0,\n      sumaRatings: 0,\n      numRatings: 0\n    };\n  }\n  const a = acc[provId];\n\n  a.solicitudesRecibidas += 1;\n  if (cotizo) a.cotizacionesEnviadas += 1;\n  if (estado === 'ganada' || estado === 'completada') {\n    a.trabajosGanados += 1;\n    a.ganancias += ganancia;\n  }\n  if (rating != null) {\n    a.sumaRatings += rating;\n    a.numRatings += 1;\n  }\n}\n\n// Construye un item por proveedor con su email HTML ya armado\nconst salida = Object.values(acc).map((a) => {\n  const promedio = a.numRatings > 0 ? (a.sumaRatings / a.numRatings) : null;\n  const promedioTxt = promedio != null ? promedio.toFixed(1) + ' ★' : 'Sin calificaciones';\n  const gananciasTxt = '$' + a.ganancias.toFixed(2);\n\n  const html = `\n  <div style=\"font-family:Arial,sans-serif;max-width:560px;margin:auto;color:#1B3A6B\">\n    <div style=\"background:#1B3A6B;color:#fff;padding:20px 24px;border-radius:12px 12px 0 0\">\n      <h2 style=\"margin:0\">ServiCerca · Tu resumen semanal</h2>\n      <p style=\"margin:4px 0 0;color:#D6E6F5;font-size:13px\">Semana ${semana.etiqueta}</p>\n    </div>\n    <div style=\"border:1px solid #E2E8F0;border-top:none;border-radius:0 0 12px 12px;padding:24px\">\n      <p style=\"font-size:15px\">Hola <b>${a.nombre}</b>, este fue tu desempeño esta semana:</p>\n      <table style=\"width:100%;border-collapse:collapse;font-size:14px\">\n        <tr><td style=\"padding:10px 0;border-bottom:1px solid #EEF\">Solicitudes recibidas</td><td style=\"text-align:right;font-weight:bold\">${a.solicitudesRecibidas}</td></tr>\n        <tr><td style=\"padding:10px 0;border-bottom:1px solid #EEF\">Cotizaciones enviadas</td><td style=\"text-align:right;font-weight:bold\">${a.cotizacionesEnviadas}</td></tr>\n        <tr><td style=\"padding:10px 0;border-bottom:1px solid #EEF\">Trabajos ganados</td><td style=\"text-align:right;font-weight:bold;color:#16A34A\">${a.trabajosGanados}</td></tr>\n        <tr><td style=\"padding:10px 0;border-bottom:1px solid #EEF\">Calificación promedio</td><td style=\"text-align:right;font-weight:bold;color:#D97706\">${promedioTxt}</td></tr>\n        <tr><td style=\"padding:10px 0\">Ganancias</td><td style=\"text-align:right;font-weight:bold;color:#16A34A\">${gananciasTxt}</td></tr>\n      </table>\n      <p style=\"font-size:13px;color:#4A5568;margin-top:20px\">Sigue así. Mantén tu disponibilidad y perfil GPS activos para recibir más solicitudes cercanas.</p>\n      <p style=\"font-size:12px;color:#94A3B8;margin-top:16px\">ServiCerca — Tu hogar en buenas manos.</p>\n    </div>\n  </div>`;\n\n  return {\n    json: {\n      email: a.email,\n      nombre: a.nombre,\n      subject: `Tu resumen semanal en ServiCerca (${a.trabajosGanados} trabajos ganados)`,\n      html,\n      metricas: {\n        solicitudesRecibidas: a.solicitudesRecibidas,\n        cotizacionesEnviadas: a.cotizacionesEnviadas,\n        trabajosGanados: a.trabajosGanados,\n        calificacionPromedio: promedio,\n        ganancias: a.ganancias\n      }\n    }\n  };\n});\n\n// Evita enviar correos vacíos: solo proveedores con email y actividad\nreturn salida.filter(s => s.json.email);"
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Agregar por Proveedor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 300],
      "notes": "Agrupa los documentos por proveedorId, calcula métricas de la semana y arma el HTML del correo. Ajusta los nombres de campo (proveedorId, estado, montoProveedor, etc.) a tu esquema real. Emite un item por proveedor."
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "reportes@servicerca.app",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Enviar Email al Proveedor",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-240, 300],
      "notes": "Envía un correo por proveedor (n8n itera automáticamente sobre cada item). Configura una credencial SMTP (por ejemplo SendGrid, Mailgun o Gmail con App Password). Cambia el fromEmail a tu dominio verificado."
    }
  ],
  "connections": {
    "Schedule Lunes 8am": {
      "main": [[{ "node": "Preparar Consulta", "type": "main", "index": 0 }]]
    },
    "Preparar Consulta": {
      "main": [[{ "node": "Firestore: Trabajos Semana", "type": "main", "index": 0 }]]
    },
    "Firestore: Trabajos Semana": {
      "main": [[{ "node": "Agregar por Proveedor", "type": "main", "index": 0 }]]
    },
    "Agregar por Proveedor": {
      "main": [[{ "node": "Enviar Email al Proveedor", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Guayaquil"
  },
  "pinData": {}
}
